@model IEnumerable<ControleProcedure.DATA.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"> Novo Cliente</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CliCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliNome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CliTelefoneCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliTelefoneFixo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CliCpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CliNome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CliTelefoneCelular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CliTelefoneFixo)
                </td>
                <td class="row">
                    <a asp-action="Edit" class="btn btn-success m-1" asp-route-id="@item.Id">Aterar</a>
                    <a asp-action="Details" class="btn btn-primary m-1" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {


            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
                }
            });

        });
    </script>

}
